In [ ]:
# !wget https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
# !tar -xvf spark-3.4.1-bin-hadoop3.tgz
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar xf spark-3.4.1-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
# import os

# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"
# os.environ["PATH"] += os.pathsep + os.environ["SPARK_HOME"] + "/bin"
# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"
os.environ["HADOOP_HOME"] = "/content/spark-3.4.1-bin-hadoop3"
os.environ["PATH"] += os.pathsep + os.environ["SPARK_HOME"] + "/bin"
os.environ["PATH"] += os.pathsep + os.environ["HADOOP_HOME"] + "/bin"
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3"

In [ ]:
# Install PySpark
!pip install -q findspark

In [ ]:
# Initialize Spark
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("NBA-Analysis2") \
    .master("local[*]") \
    .config("spark.driver.extraClassPath", os.environ["HADOOP_HOME"] + "/etc/hadoop/*") \
    .getOrCreate()

spark

In [ ]:
# # Initialize Spark
# import findspark
# findspark.init()

# from pyspark.sql import SparkSession

# spark = SparkSession.builder \
#     .appName("NBA-Analysis2") \
#     .getOrCreate()

# spark

In [ ]:
df = spark.read.csv("dataset2.csv", header=True, inferSchema=True)
print(df)

DataFrame[EVENTID: int, EVENTNUM: int, GAME_ID: int, HOMEDESCRIPTION: string, PCTIMESTRING: timestamp, PERIOD: int, PLAYER1_ID: int, PLAYER1_NAME: string, PLAYER1_TEAM_ABBREVIATION: string, PLAYER1_TEAM_CITY: string, PLAYER1_TEAM_ID: int, PLAYER1_TEAM_NICKNAME: string, PLAYER2_ID: int, PLAYER2_NAME: string, PLAYER2_TEAM_ABBREVIATION: string, PLAYER2_TEAM_CITY: string, PLAYER2_TEAM_ID: int, PLAYER2_TEAM_NICKNAME: string, PLAYER3_ID: int, PLAYER3_NAME: string, PLAYER3_TEAM_ABBREVIATION: string, PLAYER3_TEAM_CITY: string, PLAYER3_TEAM_ID: int, PLAYER3_TEAM_NICKNAME: string, SCORE: string, SCOREMARGIN: string, VISITORDESCRIPTION: string]

In [ ]:
df

DataFrame[EVENTID: int, EVENTNUM: int, GAME_ID: int, HOMEDESCRIPTION: string, PCTIMESTRING: timestamp, PERIOD: int, PLAYER1_ID: int, PLAYER1_NAME: string, PLAYER1_TEAM_ABBREVIATION: string, PLAYER1_TEAM_CITY: string, PLAYER1_TEAM_ID: int, PLAYER1_TEAM_NICKNAME: string, PLAYER2_ID: int, PLAYER2_NAME: string, PLAYER2_TEAM_ABBREVIATION: string, PLAYER2_TEAM_CITY: string, PLAYER2_TEAM_ID: int, PLAYER2_TEAM_NICKNAME: string, PLAYER3_ID: int, PLAYER3_NAME: string, PLAYER3_TEAM_ABBREVIATION: string, PLAYER3_TEAM_CITY: string, PLAYER3_TEAM_ID: int, PLAYER3_TEAM_NICKNAME: string, SCORE: string, SCOREMARGIN: string, VISITORDESCRIPTION: string]

In [ ]:
df.printSchema()
df.columns

root
 |-- EVENTID: integer (nullable = true)
 |-- EVENTNUM: integer (nullable = true)
 |-- GAME_ID: integer (nullable = true)
 |-- HOMEDESCRIPTION: string (nullable = true)
 |-- PCTIMESTRING: timestamp (nullable = true)
 |-- PERIOD: integer (nullable = true)
 |-- PLAYER1_ID: integer (nullable = true)
 |-- PLAYER1_NAME: string (nullable = true)
 |-- PLAYER1_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER1_TEAM_CITY: string (nullable = true)
 |-- PLAYER1_TEAM_ID: integer (nullable = true)
 |-- PLAYER1_TEAM_NICKNAME: string (nullable = true)
 |-- PLAYER2_ID: integer (nullable = true)
 |-- PLAYER2_NAME: string (nullable = true)
 |-- PLAYER2_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER2_TEAM_CITY: string (nullable = true)
 |-- PLAYER2_TEAM_ID: integer (nullable = true)
 |-- PLAYER2_TEAM_NICKNAME: string (nullable = true)
 |-- PLAYER3_ID: integer (nullable = true)
 |-- PLAYER3_NAME: string (nullable = true)
 |-- PLAYER3_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER3_TEAM_CITY: string (nullable = true)
 |-- PLAYER3_TEAM_ID: integer (nullable = true)
 |-- PLAYER3_TEAM_NICKNAME: string (nullable = true)
 |-- SCORE: string (nullable = true)
 |-- SCOREMARGIN: string (nullable = true)
 |-- VISITORDESCRIPTION: string (nullable = true)

['EVENTID',
 'EVENTNUM',
 'GAME_ID',
 'HOMEDESCRIPTION',
 'PCTIMESTRING',
 'PERIOD',
 'PLAYER1_ID',
 'PLAYER1_NAME',
 'PLAYER1_TEAM_ABBREVIATION',
 'PLAYER1_TEAM_CITY',
 'PLAYER1_TEAM_ID',
 'PLAYER1_TEAM_NICKNAME',
 'PLAYER2_ID',
 'PLAYER2_NAME',
 'PLAYER2_TEAM_ABBREVIATION',
 'PLAYER2_TEAM_CITY',
 'PLAYER2_TEAM_ID',
 'PLAYER2_TEAM_NICKNAME',
 'PLAYER3_ID',
 'PLAYER3_NAME',
 'PLAYER3_TEAM_ABBREVIATION',
 'PLAYER3_TEAM_CITY',
 'PLAYER3_TEAM_ID',
 'PLAYER3_TEAM_NICKNAME',
 'SCORE',
 'SCOREMARGIN',
 'VISITORDESCRIPTION']

In [ ]:
df.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME| SCORE|SCOREMARGIN|  VISITORDESCRIPTION|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
|      0|       0|20001116|                null|2025-03-30 12:00:00|     1|         0|         null|                     null|             null|           null|                 null|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null|                null|
|      1|       1|20001116|Jump Ball Grant v...|2025-03-30 12:00:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|       238| Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|  null|       null|                null|
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null| 2 - 0|         -2|Iverson 21' Jump ...|
|      3|       3|20001116|                null|2025-03-30 11:28:00|     1|       238|  Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null| Hill P.FOUL (P1.T1)|
|      4|       4|20001116|Mason 17' Jump Sh...|2025-03-30 11:19:00|     1|       193|Anthony Mason|                      MIA|            Miami|     1610612748|                 Heat|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|02-Feb|        TIE|                null|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
import re

# Define month-to-number mapping
month_map = {
    'Jan': '1', 'Feb': '2', 'Mar': '3', 'Apr': '4',
    'May': '5', 'Jun': '6', 'Jul': '7', 'Aug': '8',
    'Sep': '9', 'Oct': '10', 'Nov': '11', 'Dec': '12'
}

def clean_score(score):
    if not score or score.strip() == '':
        return None

    score = score.strip()

    # Already valid score format
    if re.match(r"^\d+\s*-\s*\d+$", score):
        return score

    # Handle Month-Day format (e.g., Apr-6 → 6 - 4)
    for month_abbr, num in month_map.items():
        if month_abbr in score:
            parts = score.split('-')
            if len(parts) == 2:
                if month_abbr in parts[0]:
                    return f"{parts[1].strip()} - {num}"
                elif month_abbr in parts[1]:
                    return f"{parts[0].strip()} - {num}"

    # Try to extract digits in a generic fallback
    digits = re.findall(r'\d+', score)
    if len(digits) == 2:
        return f"{digits[0]} - {digits[1]}"

    return None

# Register UDF
clean_score_udf = udf(clean_score, StringType())

# Apply the cleaning function
df_cleaned = df.withColumn("CLEANED_SCORE", clean_score_udf(df["SCORE"]))
df_cleaned.select("SCORE", "CLEANED_SCORE").distinct().show(30, truncate=False)

+--------+-------------+
|SCORE   |CLEANED_SCORE|
+--------+-------------+
|63 - 69 |63 - 69      |
|83 - 106|83 - 106     |
|26 - 29 |26 - 29      |
|38 - 39 |38 - 39      |
|77 - 90 |77 - 90      |
|40 - 42 |40 - 42      |
|96 - 90 |96 - 90      |
|58 - 50 |58 - 50      |
|54 - 74 |54 - 74      |
|76 - 83 |76 - 83      |
|68 - 103|68 - 103     |
|103 - 83|103 - 83     |
|71 - 71 |71 - 71      |
|49 - 39 |49 - 39      |
|47 - 68 |47 - 68      |
|70 - 108|70 - 108     |
|24 - 44 |24 - 44      |
|25 - 31 |25 - 31      |
|74 - 112|74 - 112     |
|86 - 97 |86 - 97      |
|67 - 88 |67 - 88      |
|27 - 50 |27 - 50      |
|30 - 18 |30 - 18      |
|71 - 67 |71 - 67      |
|Dec-19  |19 - 12      |
|52 - 59 |52 - 59      |
|22 - 23 |22 - 23      |
|40 - 45 |40 - 45      |
|30 - 39 |30 - 39      |
|113 - 96|113 - 96     |
+--------+-------------+
only showing top 30 rows

In [ ]:
df.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME| SCORE|SCOREMARGIN|  VISITORDESCRIPTION|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
|      0|       0|20001116|                null|2025-03-30 12:00:00|     1|         0|         null|                     null|             null|           null|                 null|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null|                null|
|      1|       1|20001116|Jump Ball Grant v...|2025-03-30 12:00:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|       238| Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|  null|       null|                null|
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null| 2 - 0|         -2|Iverson 21' Jump ...|
|      3|       3|20001116|                null|2025-03-30 11:28:00|     1|       238|  Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null| Hill P.FOUL (P1.T1)|
|      4|       4|20001116|Mason 17' Jump Sh...|2025-03-30 11:19:00|     1|       193|Anthony Mason|                      MIA|            Miami|     1610612748|                 Heat|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|02-Feb|        TIE|                null|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+
only showing top 5 rows

In [ ]:
df_cleaned.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME| SCORE|SCOREMARGIN|  VISITORDESCRIPTION|CLEANED_SCORE|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+
|      0|       0|20001116|                null|2025-03-30 12:00:00|     1|         0|         null|                     null|             null|           null|                 null|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null|                null|         null|
|      1|       1|20001116|Jump Ball Grant v...|2025-03-30 12:00:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|       238| Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|  null|       null|                null|         null|
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null| 2 - 0|         -2|Iverson 21' Jump ...|        2 - 0|
|      3|       3|20001116|                null|2025-03-30 11:28:00|     1|       238|  Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null| Hill P.FOUL (P1.T1)|         null|
|      4|       4|20001116|Mason 17' Jump Sh...|2025-03-30 11:19:00|     1|       193|Anthony Mason|                      MIA|            Miami|     1610612748|                 Heat|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|02-Feb|        TIE|                null|       02 - 2|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

df_cleaned = df_cleaned.withColumn("SCOREMARGIN_INT", col("SCOREMARGIN").cast("int"))

In [ ]:
from pyspark.sql.functions import split, col

# Split CLEANED_SCORE into two new columns: HOME_SCORE and VISITOR_SCORE
df_cleaned = df_cleaned.withColumn("HOME_SCORE", split(col("CLEANED_SCORE"), " - ").getItem(0).cast("int")) \
                           .withColumn("VISITOR_SCORE", split(col("CLEANED_SCORE"), " - ").getItem(1).cast("int"))

In [ ]:
df_cleaned.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+---------------+----------+-------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME| SCORE|SCOREMARGIN|  VISITORDESCRIPTION|CLEANED_SCORE|SCOREMARGIN_INT|HOME_SCORE|VISITOR_SCORE|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+---------------+----------+-------------+
|      0|       0|20001116|                null|2025-03-30 12:00:00|     1|         0|         null|                     null|             null|           null|                 null|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null|                null|         null|           null|      null|         null|
|      1|       1|20001116|Jump Ball Grant v...|2025-03-30 12:00:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|       238| Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|  null|       null|                null|         null|           null|      null|         null|
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null| 2 - 0|         -2|Iverson 21' Jump ...|        2 - 0|             -2|         2|            0|
|      3|       3|20001116|                null|2025-03-30 11:28:00|     1|       238|  Tyrone Hill|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|  null|       null| Hill P.FOUL (P1.T1)|         null|           null|      null|         null|
|      4|       4|20001116|Mason 17' Jump Sh...|2025-03-30 11:19:00|     1|       193|Anthony Mason|                      MIA|            Miami|     1610612748|                 Heat|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|02-Feb|        TIE|                null|       02 - 2|           null|         2|            2|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+------+-----------+--------------------+-------------+---------------+----------+-------------+
only showing top 5 rows

In [ ]:
# spark.conf.set("spark.sql.execution.pandas.convertToPythonArrow", "false")

In [ ]:
from pyspark.sql.functions import col, count, when

# Total row count
total_rows = df_cleaned.count()

# Missing value count per column
missing_data = df_cleaned.select([
    (count(when(col(c).isNull(), c)) / total_rows * 100).alias(c)
    for c in df_cleaned.columns
])

# Show missing percentage for each column
missing_data.show(truncate=False)

+-------+--------+-------+---------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+
|EVENTID|EVENTNUM|GAME_ID|HOMEDESCRIPTION|PCTIMESTRING|PERIOD|PLAYER1_ID|PLAYER1_NAME     |PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID  |PLAYER1_TEAM_NICKNAME|PLAYER2_ID|PLAYER2_NAME     |PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID  |PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME     |PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID  |PLAYER3_TEAM_NICKNAME|SCORE            |SCOREMARGIN      |VISITORDESCRIPTION|CLEANED_SCORE    |SCOREMARGIN_INT  |HOME_SCORE       |VISITOR_SCORE    |
+-------+--------+-------+---------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+
|0.0    |0.0     |0.0    |47.729822842423|0.0         |0.0   |0.0       |9.196864579547071|9.196864579547071        |9.196864579547071|9.196864579547071|9.196864579547071    |0.0       |78.46136826967145|78.46136826967145        |78.46136826967145|78.46136826967145|78.46136826967145    |0.0       |97.20909651216083|97.20909651216083        |97.20909651216083|97.20909651216083|97.20909651216083    |74.24103544731892|74.24103544731892|48.74361932455711 |74.24103544731892|75.57564359877996|74.24103544731892|74.24103544731892|
+-------+--------+-------+---------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+

In [ ]:
df_cleaned_filtered = df_cleaned.na.drop(subset=["CLEANED_SCORE", "HOME_SCORE", "VISITOR_SCORE", "SCOREMARGIN_INT"])

In [ ]:
from pyspark.sql.functions import col

df_cleaned_filtered = df_cleaned_filtered.withColumn("HOME_SCORE", col("HOME_SCORE").cast("int")) \
                                         .withColumn("VISITOR_SCORE", col("VISITOR_SCORE").cast("int")) \
                                         .withColumn("SCOREMARGIN_INT", col("SCOREMARGIN_INT").cast("int"))

In [ ]:
from pyspark.sql.functions import col, count, when

# Total row count
total_rows = df_cleaned_filtered.count()

# Missing value count per column
missing_data2 = df_cleaned_filtered.select([
    (count(when(col(c).isNull(), c)) / total_rows * 100).alias(c)
    for c in df_cleaned_filtered.columns
])

# Show missing percentage for each column
missing_data2.show(truncate=False)

+-------+--------+-------+------------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+-----+-----------+------------------+-------------+---------------+----------+-------------+
|EVENTID|EVENTNUM|GAME_ID|HOMEDESCRIPTION   |PCTIMESTRING|PERIOD|PLAYER1_ID|PLAYER1_NAME     |PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID  |PLAYER1_TEAM_NICKNAME|PLAYER2_ID|PLAYER2_NAME     |PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID  |PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME|SCORE|SCOREMARGIN|VISITORDESCRIPTION|CLEANED_SCORE|SCOREMARGIN_INT|HOME_SCORE|VISITOR_SCORE|
+-------+--------+-------+------------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+-----+-----------+------------------+-------------+---------------+----------+-------------+
|0.0    |0.0     |0.0    |52.060821740537044|0.0         |0.0   |0.0       |6.133937237140084|6.133937237140084        |6.133937237140084|6.133937237140084|6.133937237140084    |0.0       |62.42639922355225|62.42639922355225        |62.42639922355225|62.42639922355225|62.42639922355225    |0.0       |100.0       |100.0                    |100.0            |100.0          |100.0                |0.0  |0.0        |54.073115496603045|0.0          |0.0            |0.0       |0.0          |
+-------+--------+-------+------------------+------------+------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+-----------------+-------------------------+-----------------+-----------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+-----+-----------+------------------+-------------+---------------+----------+-------------+

In [ ]:
from pyspark.sql.functions import col

# Drop original columns
df_prepared = df_cleaned_filtered.drop("SCORE", "SCOREMARGIN")

In [ ]:
df_prepared.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------------+---------------+----------+-------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME|  VISITORDESCRIPTION|CLEANED_SCORE|SCOREMARGIN_INT|HOME_SCORE|VISITOR_SCORE|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------------+---------------+----------+-------------+
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|Iverson 21' Jump ...|        2 - 0|             -2|         2|            0|
|      9|       9|20001116|                null|2025-03-30 10:44:00|     1|       248| George Lynch|                      PHI|     Philadelphia|     1610612755|                76ers|       727|      Eric Snow|                      PHI|     Philadelphia|     1610612755|                76ers|         0|        null|                     null|             null|           null|                 null|Lynch  Layup (2 P...|       04 - 2|             -2|         4|            2|
|     19|      19|20001116|                null|2025-03-30 09:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|Iverson  Driving ...|       06 - 2|             -4|         6|            2|
|     23|      24|20001116|                null|2025-03-30 09:15:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|         0|        null|                     null|             null|           null|                 null|Iverson 24' 3PT J...|       09 - 2|             -7|         9|            2|
|     24|      25|20001116|Grant 17' Jump Sh...|2025-03-30 08:54:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|       105|    Dan Majerle|                      MIA|            Miami|     1610612748|                 Heat|         0|        null|                     null|             null|           null|                 null|                null|       09 - 4|             -5|         9|            4|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------------+---------------+----------+-------------+
only showing top 5 rows

In [ ]:
# Rename new processed columns
df_prepared = df_prepared.withColumnRenamed("CLEANED_SCORE", "SCORE") \
                         .withColumnRenamed("SCOREMARGIN_INT", "SCOREMARGIN")

In [ ]:
# Show updated DataFrame schema
df_prepared.printSchema()

root
 |-- EVENTID: integer (nullable = true)
 |-- EVENTNUM: integer (nullable = true)
 |-- GAME_ID: integer (nullable = true)
 |-- HOMEDESCRIPTION: string (nullable = true)
 |-- PCTIMESTRING: timestamp (nullable = true)
 |-- PERIOD: integer (nullable = true)
 |-- PLAYER1_ID: integer (nullable = true)
 |-- PLAYER1_NAME: string (nullable = true)
 |-- PLAYER1_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER1_TEAM_CITY: string (nullable = true)
 |-- PLAYER1_TEAM_ID: integer (nullable = true)
 |-- PLAYER1_TEAM_NICKNAME: string (nullable = true)
 |-- PLAYER2_ID: integer (nullable = true)
 |-- PLAYER2_NAME: string (nullable = true)
 |-- PLAYER2_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER2_TEAM_CITY: string (nullable = true)
 |-- PLAYER2_TEAM_ID: integer (nullable = true)
 |-- PLAYER2_TEAM_NICKNAME: string (nullable = true)
 |-- PLAYER3_ID: integer (nullable = true)
 |-- PLAYER3_NAME: string (nullable = true)
 |-- PLAYER3_TEAM_ABBREVIATION: string (nullable = true)
 |-- PLAYER3_TEAM_CITY: string (nullable = true)
 |-- PLAYER3_TEAM_ID: integer (nullable = true)
 |-- PLAYER3_TEAM_NICKNAME: string (nullable = true)
 |-- VISITORDESCRIPTION: string (nullable = true)
 |-- SCORE: string (nullable = true)
 |-- SCOREMARGIN: integer (nullable = true)
 |-- HOME_SCORE: integer (nullable = true)
 |-- VISITOR_SCORE: integer (nullable = true)

In [ ]:
# Show top few rows
df_prepared.show(5)

+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+------+-----------+----------+-------------+
|EVENTID|EVENTNUM| GAME_ID|     HOMEDESCRIPTION|       PCTIMESTRING|PERIOD|PLAYER1_ID| PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|PLAYER2_ID|   PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME|  VISITORDESCRIPTION| SCORE|SCOREMARGIN|HOME_SCORE|VISITOR_SCORE|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+------+-----------+----------+-------------+
|      2|       2|20001116|                null|2025-03-30 11:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|Iverson 21' Jump ...| 2 - 0|         -2|         2|            0|
|      9|       9|20001116|                null|2025-03-30 10:44:00|     1|       248| George Lynch|                      PHI|     Philadelphia|     1610612755|                76ers|       727|      Eric Snow|                      PHI|     Philadelphia|     1610612755|                76ers|         0|        null|                     null|             null|           null|                 null|Lynch  Layup (2 P...|04 - 2|         -2|         4|            2|
|     19|      19|20001116|                null|2025-03-30 09:45:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|         0|           null|                     null|             null|           null|                 null|         0|        null|                     null|             null|           null|                 null|Iverson  Driving ...|06 - 2|         -4|         6|            2|
|     23|      24|20001116|                null|2025-03-30 09:15:00|     1|       947|Allen Iverson|                      PHI|     Philadelphia|     1610612755|                76ers|        87|Dikembe Mutombo|                      PHI|     Philadelphia|     1610612755|                76ers|         0|        null|                     null|             null|           null|                 null|Iverson 24' 3PT J...|09 - 2|         -7|         9|            2|
|     24|      25|20001116|Grant 17' Jump Sh...|2025-03-30 08:54:00|     1|       258|  Brian Grant|                      MIA|            Miami|     1610612748|                 Heat|       105|    Dan Majerle|                      MIA|            Miami|     1610612748|                 Heat|         0|        null|                     null|             null|           null|                 null|                null|09 - 4|         -5|         9|            4|
+-------+--------+--------+--------------------+-------------------+------+----------+-------------+-------------------------+-----------------+---------------+---------------------+----------+---------------+-------------------------+-----------------+---------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+------+-----------+----------+-------------+
only showing top 5 rows

In [ ]:
df_prepared.describe().show()

+-------+------------------+-----------------+-------------------+--------------------+------------------+-----------------+------------------+-------------------------+-----------------+-------------------+---------------------+------------------+------------------+-------------------------+-----------------+-------------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------+------------------+-----------------+------------------+
|summary|           EVENTID|         EVENTNUM|            GAME_ID|     HOMEDESCRIPTION|            PERIOD|       PLAYER1_ID|      PLAYER1_NAME|PLAYER1_TEAM_ABBREVIATION|PLAYER1_TEAM_CITY|    PLAYER1_TEAM_ID|PLAYER1_TEAM_NICKNAME|        PLAYER2_ID|      PLAYER2_NAME|PLAYER2_TEAM_ABBREVIATION|PLAYER2_TEAM_CITY|    PLAYER2_TEAM_ID|PLAYER2_TEAM_NICKNAME|PLAYER3_ID|PLAYER3_NAME|PLAYER3_TEAM_ABBREVIATION|PLAYER3_TEAM_CITY|PLAYER3_TEAM_ID|PLAYER3_TEAM_NICKNAME|  VISITORDESCRIPTION|  SCORE|       SCOREMARGIN|       HOME_SCORE|     VISITOR_SCORE|
+-------+------------------+-----------------+-------------------+--------------------+------------------+-----------------+------------------+-------------------------+-----------------+-------------------+---------------------+------------------+------------------+-------------------------+-----------------+-------------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------+------------------+-----------------+------------------+
|  count|             30910|            30910|              30910|               14818|             30910|            30910|             29014|                    29014|            29014|              29014|                29014|             30910|             11614|                    11614|            11614|              11614|                11614|     30910|           0|                        0|                0|              0|                    0|               14196|  30910|             30910|            30910|             30910|
|   mean| 229.1183112261404|242.4390164995147|2.000060062963442E7|                null|2.5675833063733418|913.8006146878033|              null|                     null|             null|1.610612751987937E9|                 null|348.57023616952443|              null|                     null|             null|1.610612751991562E9|                 null|       0.0|        null|                     null|             null|           null|                 null|                null|   null|2.0432222581688775|49.74917502426399| 51.48828857974765|
| stddev|131.32889847041506|140.1409252847461| 337.27057920200616|                null|1.1255048147961078|682.2313748621033|              null|                     null|             null|   8.54413441851518|                 null| 608.9194083012843|              null|                     null|             null|  8.556412207862829|                 null|       0.0|        null|                     null|             null|           null|                 null|                null|   null| 10.30696837942105|27.82870071210746|29.202123645033947|
|    min|                 2|                1|           20000006|Abdul-Rauf 14' Ju...|                 1|                0|        A.C. Green|                      ATL|          Atlanta|         1610612737|                76ers|                 0|        A.C. Green|                      ATL|          Atlanta|         1610612737|                76ers|         0|        null|                     null|             null|           null|                 null|Abdul-Rauf  Layup...|  0 - 1|               -47|                0|                 0|
|    max|               582|              646|           20001189|Wright Free Throw...|                 6|             2143|Zydrunas Ilgauskas|                      WAS|       Washington|         1610612766|              Wizards|              2173|Zydrunas Ilgauskas|                      WAS|       Washington|         1610612766|              Wizards|         0|        null|                     null|             null|           null|                 null|Wright Free Throw...|99 - 98|                40|              129|               126|
+-------+------------------+-----------------+-------------------+--------------------+------------------+-----------------+------------------+-------------------------+-----------------+-------------------+---------------------+------------------+------------------+-------------------------+-----------------+-------------------+---------------------+----------+------------+-------------------------+-----------------+---------------+---------------------+--------------------+-------+------------------+-----------------+------------------+

[Task 1] Percentage of teams who lost with more than 15

In [ ]:
from pyspark.sql.functions import col, abs

# Filter rows with valid SCOREMARGIN
valid_margin_df = df_prepared.filter(col("SCOREMARGIN").isNotNull())

# Total matches with valid score margin
total_with_margin = valid_margin_df.count()

# Count losses with margin > 15 (i.e. SCOREMARGIN < -15)
losses_gt_15 = valid_margin_df.filter(col("SCOREMARGIN") < -15).count()

# Calculate percentage
loss_percentage = (losses_gt_15 / total_with_margin) * 100

print(f"Percentage of teams who lost with more than 15: {loss_percentage:.2f}%")

Percentage of teams who lost with more than 15: 4.31%

[Task 2] Total number of matches won by each team

In [ ]:
from pyspark.sql.functions import split, when

# Split SCORE into home and visitor score
score_split_df = df_prepared.withColumn("home_score", split("SCORE", " - ").getItem(0).cast("int")) \
                            .withColumn("visitor_score", split("SCORE", " - ").getItem(1).cast("int"))

# Determine winner team nickname
result_df = score_split_df.withColumn(
    "winning_team",
    when(col("home_score") > col("visitor_score"), col("PLAYER1_TEAM_NICKNAME")) \
    .when(col("visitor_score") > col("home_score"), col("PLAYER2_TEAM_NICKNAME"))
)

# Count wins per team
wins_per_team = result_df.groupBy("winning_team").count().orderBy(col("count").desc())

# Show results
wins_per_team.show(truncate=False)

+-------------+-----+
|winning_team |count|
+-------------+-----+
|null         |11638|
|Bucks        |935  |
|Raptors      |879  |
|76ers        |873  |
|Clippers     |864  |
|Kings        |854  |
|Wizards      |853  |
|Nuggets      |813  |
|Warriors     |708  |
|Bulls        |693  |
|Pacers       |676  |
|Pistons      |653  |
|Cavaliers    |651  |
|SuperSonics  |648  |
|Hornets      |646  |
|Knicks       |642  |
|Suns         |631  |
|Celtics      |628  |
|Hawks        |617  |
|Trail Blazers|607  |
+-------------+-----+
only showing top 20 rows

Task 3 - Performing Machine Learning model using Spark MLlib

Identify Teams per GAME_ID and their Q1 Scores

In [ ]:
from pyspark.sql.functions import col, max as spark_max, first, last, when

# Filter to Q1 data only
df_q1 = df_prepared.filter(col("PERIOD") == 1)

# Extract last Q1 score per team per GAME_ID
team_scores_q1 = df_q1.groupBy("GAME_ID", "PLAYER1_TEAM_ABBREVIATION") \
    .agg(
        spark_max("HOME_SCORE").alias("HOME_SCORE_Q1"),
        spark_max("VISITOR_SCORE").alias("VISITOR_SCORE_Q1")
    )

Determine Home and Visitor teams per GAME_ID

In [ ]:
home_visitor_teams = df_prepared.select(
    "GAME_ID",
    col("PLAYER1_TEAM_ABBREVIATION").alias("HOME_TEAM"),
    col("PLAYER2_TEAM_ABBREVIATION").alias("VISITOR_TEAM")
).filter((col("HOME_TEAM").isNotNull()) & (col("VISITOR_TEAM").isNotNull())).dropDuplicates(["GAME_ID"])

Get Q1 Final Scores clearly mapped to Home/Visitor teams

In [ ]:
from pyspark.sql.functions import expr

q1_final_scores = team_scores_q1.join(home_visitor_teams, "GAME_ID")

final_scores_q1 = q1_final_scores.select(
    "GAME_ID",
    "HOME_TEAM",
    "VISITOR_TEAM",
    expr("IF(PLAYER1_TEAM_ABBREVIATION = HOME_TEAM, HOME_SCORE_Q1, VISITOR_SCORE_Q1)").alias("HOME_TEAM_Q1_SCORE"),
    expr("IF(PLAYER1_TEAM_ABBREVIATION = VISITOR_TEAM, HOME_SCORE_Q1, VISITOR_SCORE_Q1)").alias("VISITOR_TEAM_Q1_SCORE")
).groupBy("GAME_ID", "HOME_TEAM", "VISITOR_TEAM") \
 .agg(spark_max("HOME_TEAM_Q1_SCORE").alias("HOME_TEAM_Q1_SCORE"),
      spark_max("VISITOR_TEAM_Q1_SCORE").alias("VISITOR_TEAM_Q1_SCORE"))

Determine the Winner of Each Match
We need the final match winner based on max period's final score (PERIOD 4 or last):

In [ ]:
from pyspark.sql.functions import col, max as spark_max, first, when

# Final period of each game
final_period_scores = df_prepared.groupBy("GAME_ID").agg(
    spark_max("PERIOD").alias("MAX_PERIOD")
)

# Join with alias to avoid ambiguous columns
final_scores = final_period_scores.alias("fps") \
    .join(df_prepared.alias("dfp"),
          (col("fps.GAME_ID") == col("dfp.GAME_ID")) & (col("fps.MAX_PERIOD") == col("dfp.PERIOD"))) \
    .groupBy("fps.GAME_ID").agg(
        spark_max("dfp.HOME_SCORE").alias("HOME_FINAL_SCORE"),
        spark_max("dfp.VISITOR_SCORE").alias("VISITOR_FINAL_SCORE"),
        first("dfp.PLAYER1_TEAM_ABBREVIATION").alias("HOME_TEAM"),
        first("dfp.PLAYER2_TEAM_ABBREVIATION").alias("VISITOR_TEAM")
    )

# Determine winner
final_scores = final_scores.withColumn(
    "WINNER",
    when(col("HOME_FINAL_SCORE") > col("VISITOR_FINAL_SCORE"), col("HOME_TEAM"))
    .otherwise(col("VISITOR_TEAM"))
).select("GAME_ID", "WINNER")

# Show final_scores for verification
final_scores.show(5, truncate=False)

+--------+------+
|GAME_ID |WINNER|
+--------+------+
|20000006|null  |
|20000009|null  |
|20000014|null  |
|20000021|null  |
|20000025|null  |
+--------+------+
only showing top 5 rows

Join Q1 scores with Winner data to get the final Dataset clearly

In [ ]:
final_dataset = final_scores_q1.join(final_scores, "GAME_ID")

In [ ]:
final_dataset = final_dataset.select(
    col("GAME_ID"),
    col("HOME_TEAM").alias("TEAM_A"),
    col("VISITOR_TEAM").alias("TEAM_B"),
    col("HOME_TEAM_Q1_SCORE").alias("TEAM_A_Q1_SCORE"),
    col("VISITOR_TEAM_Q1_SCORE").alias("TEAM_B_Q1_SCORE"),
    "WINNER"
)

# Add target (Y) points scored by Team_A if they won, else null (we predict only wins)
final_dataset = final_dataset.withColumn(
    "TARGET_Q1_POINTS",
    when(col("WINNER") == col("TEAM_A"), col("TEAM_A_Q1_SCORE")).otherwise(None)
).filter(col("TARGET_Q1_POINTS").isNotNull())

+--------+------+------+---------------+---------------+------+----------------+
|GAME_ID |TEAM_A|TEAM_B|TEAM_A_Q1_SCORE|TEAM_B_Q1_SCORE|WINNER|TARGET_Q1_POINTS|
+--------+------+------+---------------+---------------+------+----------------+
|20000079|BOS   |BOS   |26             |26             |BOS   |26              |
|20000435|PHI   |PHI   |35             |35             |PHI   |35              |
|20000456|UTA   |UTA   |11             |11             |UTA   |11              |
|20000541|MIN   |MIN   |28             |28             |MIN   |28              |
|20000579|TOR   |TOR   |38             |38             |TOR   |38              |
+--------+------+------+---------------+---------------+------+----------------+
only showing top 5 rows

In [ ]:
# View Final dataset
final_dataset.show(14, truncate=False)

+--------+------+------+---------------+---------------+------+----------------+
|GAME_ID |TEAM_A|TEAM_B|TEAM_A_Q1_SCORE|TEAM_B_Q1_SCORE|WINNER|TARGET_Q1_POINTS|
+--------+------+------+---------------+---------------+------+----------------+
|20000079|BOS   |BOS   |26             |26             |BOS   |26              |
|20000435|PHI   |PHI   |35             |35             |PHI   |35              |
|20000456|UTA   |UTA   |11             |11             |UTA   |11              |
|20000541|MIN   |MIN   |28             |28             |MIN   |28              |
|20000579|TOR   |TOR   |38             |38             |TOR   |38              |
|20000656|DAL   |DAL   |24             |24             |DAL   |24              |
|20000719|UTA   |UTA   |28             |28             |UTA   |28              |
|20000803|CLE   |CLE   |24             |24             |CLE   |24              |
|20000842|DET   |DET   |23             |23             |DET   |23              |
|20000866|SAS   |SAS   |26             |26             |SAS   |26              |
|20000896|LAL   |LAL   |27             |27             |LAL   |27              |
|20001015|NYK   |NYK   |24             |24             |NYK   |24              |
|20001142|IND   |IND   |31             |31             |IND   |31              |
|20001149|DET   |DET   |29             |29             |DET   |29              |
+--------+------+------+---------------+---------------+------+----------------+

In [ ]:
final_dataset.describe().show()

+-------+-----------------+------+------+------------------+------------------+------+------------------+
|summary|          GAME_ID|TEAM_A|TEAM_B|   TEAM_A_Q1_SCORE|   TEAM_B_Q1_SCORE|WINNER|  TARGET_Q1_POINTS|
+-------+-----------------+------+------+------------------+------------------+------+------------------+
|  count|               14|    14|    14|                14|                14|    14|                14|
|   mean|      2.0000727E7|  null|  null|26.714285714285715|26.714285714285715|  null|26.714285714285715|
| stddev|296.1743249664377|  null|  null| 6.244118111391792| 6.244118111391792|  null| 6.244118111391792|
|    min|         20000079|   BOS|   BOS|                11|                11|   BOS|                11|
|    max|         20001149|   UTA|   UTA|                38|                38|   UTA|                38|
+-------+-----------------+------+------+------------------+------------------+------+------------------+